@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    --Azul-escuro:#0A3871;
    --Branco-escuro: #D8DFE8;
    --Branco: #FFFFFF;
    --Cinza: #343A40;
    --Ciza-claro:#495057;
    --Branco-cinzento: #F3F5FC;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    box-sizing: border-box;
    background-color: var(--Branco-cinzento);
    font-family: 'inter', sans-serif;
}

.main-login {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
   
}

.left-login-high {
   margin: 3%;
   width: 10vw;
   height: 80vh;
}

.left-login {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-text {
    height: 500px;

}

.left-login-text-inserir {
    width: 680px;;
    background-color: var(--Branco-cinzento);
    color: var(--Azul-escuro);
    outline: none;
    border: none;
    resize: none;
    font-size: 26px;
    font-family: 'inter', sans-serif;
    height: 400px;
}

.left-login-aviso {
    width: 684px;
    height: 85px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-login-aviso-pgp {
    margin: 0 0 0 2%;
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: var(--Ciza-claro);
}

.left-login-btn {
    display: flex;
    gap: 10px;
    align-self: center;
}

.left-login-btn-cri {
    background-color: var(--Azul-escuro);
    width: 328px;
    height: 67px;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    color: white;
}

.left-login-btn-discri {
    background-color: var(--Branco-escuro);
    width: 328px;
    height: 67px;
    border: var(--Azul-escuro) 1px solid;
    border-radius: 27px;
    cursor: pointer;
    color: var(--Azul-escuro);
   
}

.right-login {
 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login {
    
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding: 200px 13px;
    background-color: var(--Branco);
    border-radius: 32px;
    box-sizing: border-box;
    gap: 10px;
}

.right-login-text-saida {
    outline: none;
    border: none;
    resize: none;
    font-size: 26px;
    font-family: 'inter', sans-serif;
    
}

.textfield-text {
    text-align: center;
}

.textfield-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--Cinza);
}

.textfield-pgp {
    font-size: 16px;
    font-weight: 400;
    color: var(--Ciza-claro);
}

.btn-copiar {
    background-color: var(--Branco-escuro);
    width: 328px;
    height: 67px;
    border: var(--Azul-escuro) 1px solid;
    border-radius: 24px; 
    cursor: pointer;
    color: var(--Azul-escuro);
    
}

.rodape {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


#texto {
    color: var(--Azul-escuro);
    outline: none;
    border: none;
    resize: none;
    font-size: 26px;
    font-family: 'inter', sans-serif;
    height: 400px;
}

@media only screen and (max-width: 480px) {

    body {
        height: 100vh;
    }

    .left-login-high {
        margin: 1em;
        height: 10vh;
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    .main-login {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .left-login-high {
        height: 5vh;
    }

    .left-login {
        height: 60vh;
    }

    .left-login-text {
        height: 50%;
        padding: 2%;    
    }

    .left-login-text-inserir {
        height: 80%;
        font-size: 2rem;
        width: 100%;
    }

    .left-login-aviso {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .left-login-aviso-pgp {
        font-size: 1rem;
        display: block;
    }

    .left-login-btn {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .left-login-btn-cri {
        width: 100%;
        height: 5rem;
        font-size: 1rem;
        border: none;
    }

    .left-login-btn-discri {
        width: 100%;
        height: 5rem;
        font-size: 1rem;  
    }

    .right-login{
        width: 90%;
        height: 45vh;
        padding: 4%;
    }

    .card-login {
        width: 70%;
        height: 70%;
        display: block;
        padding: 5% 5%;
    }
    
    .textfield-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 25% 0 0 0;
    }

    .textfield-img {
        display: none;
    }
    

    .textfield-title {
        font-size: 2rem;
    }

    .textfield-pgp {
        font-size: 1rem;
    }

    #texto {
        width: 100%;
        height: 70%;
       font-size: 2rem;
       background-color: transparent;
       
    }

    .btn-copiar {
        width: 100%;
        height: 5rem;
        font-size: 1rem;  
            
    }    
    .rodape {
        height: 5vh;
        font-size: 1.5rem;
    }
   
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
    
    body {
        height: 100vh;
    }

    
    .main-login {
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        height: 90vh;
    }

    .left-login-high {
        margin: 1em;
        height: 10vh;
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    .left-login-high-img {
        width: 31.09px;
        height: 50.58px;
        top: 73.42px;
        left: 40px;
    }

    .left-login {
        height: 70vh;
        width: 90%;
        display: flex;
        align-items: start;
    }

    .left-login-text {
        height: 100%;
        margin: 3rem 0;   
    }

    .left-login-text-inserir {
        height: 100%;
        width: 100%;
        font-size: 3.5rem;
    }

    .left-login-aviso {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .left-login-aviso-pgp {
        font-size: 2rem;
    }

    .left-login-btn {
        margin: 0;
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    .left-login-btn-cri {
        width: 100%;
        height: 7rem;
        font-size: 2rem;
        border: none;
    }

    .left-login-btn-discri {
        width: 100%;
        height: 7rem;
        font-size: 2rem;  
    }

    .right-login{
        width: 90%;
        height: 20vh;
        padding: 4% 0 0 0;
    }

    .card-login {
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: column;
        padding: 2% 0 7% 0;
    }

    .textfield-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .textfield-img {
        display: none;
    }

    .textfield-title {
        font-size: 3rem;
    }

    .textfield-pgp {
        font-size: 2rem;
    }

    #texto {
        width: 100%;
        height: 70%;
        padding: 0 2% 0 2%;
        font-size: 3.5rem;
        background-color: transparent;
    }

    .btn-copiar {
        margin: 0 2% 0 2%;
        width: 96%;
        height: 7rem;
        font-size: 2rem;   
    }
    
    .rodape {
        height: 10vh;
        font-size: 2rem;
    }

}
